@media (max-width: 420px) {


    button.btn.btn-outline-success {
        display: none;
    }

    img.imglogo.ms-5 {
        margin: 0% 0% 0% 10% !important;
    }

    button.btn.btn-success.d-flex.justify-content-center.pe-3.ps-3.pt-2.pb-2 {
        padding: 20% !important;
    }

    input.form-control.p-2.me-2.bg-dark.border.border-success.text-light {
        padding: 4% !important;
    }

    img.ftperfil.object-fit-cover.rounded-circle {
        height: 50px;
        width: 50px;
    }

    img.ropaimg.w-100.object-fit-cover {
        width: 100%;
        max-height: 100px;
    }

    .cardspd.bg-black.justify-content-around.m-5.d-flex.flex-wrap {
        margin: 0% !important;
    }

    .cards.w-25.bg-black.text-light.m-4 {
        width: 40% !important;
        margin: 5% !important;
    }

    h1.productotxt.fs-3.p-2 {
        font-size: 15px !important;
        padding: 5% 0 5% 0% !important;
        height: 40px;
    }

    .sobreseccion.me-5.w-50.text-light{
        width: 100% !important;
        margin: 5% 0% 10% 0% !important;
    }

    .veterinariouno.w-25.d-flex.opacity-50.justify-content-center.align-items-end {
        width: 90% !important;
    }

    .veterinariodos.w-25.d-flex.opacity-50.justify-content-center.align-items-end {
        width: 90% !important;
    }

    .veterinariotres.w-25.d-flex.opacity-50.justify-content-center.align-items-end {
        width: 90% !important;
    }

    h1.qmuc.fs-1 {
        margin: 2%;
    }

    form.formulario.m-auto.mb-5.w-25 {
        width: 70% !important;
    }

    h4.txt{
        font-size: 13px !important;
    }

    img.ftperfil.object-fit-cover.rounded-circle {
        margin-left: -20% !important;
    }



    img.h-50.w-50 {
        height: 140px !important;
        width: 140px !important;
        margin-left: -15%;
    }

    .descripciontxt{
        font-size: 10px;
    }

    .seccion1{
        width: 20%;
        display: none !important;
    }

    .seccion2{
        width: 40%;
        display: none !important;
    }

    .seccion3{
        width: 10%;
    }

    .seccion4{
        width: 10%;
    }

    .btn, .btn-outline-success{
        display: none;
    }

    .imglogo{
        width: 100%;
    }

    .seccion3{
        display: none !important;
    }


}